<table>
    <thead>
        <tr>
            <th>N.</th>
            <th>Título</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each tasks}}
            <tr>
                <td>{{@index}}</td>
                <td>{{title}}</td>
                <td>{{description}}</td>
                <td>
                    {{#if done}}
                        <a href="/toggleDoneTask/{{_id}}">Por Hacer</a>
                    {{else}}
                        <a href="/toggleDoneTask/{{_id}}">Hecho</a>
                    {{/if}}
                    <a href="/deleteTask/{{_id}}">Eliminar</a>
                    <a href="/editTask/{{_id}}">Edit</a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
    
